<div class="cards-container">

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Aflatoxina</h1>
      <p class="cards-front-subtitle"></p>
    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Ocratoxina A</h1>
      <p class="cards-front-subtitle"></p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Deoxinivalenol</h1>
      <p class="cards-front-subtitle"></p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">T-2 toxina</h1>
      <p class="cards-front-subtitle"></p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Fumonisina</h1>
      <p class="cards-front-subtitle"></p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Zearalenona</h1>
      <p class="cards-front-subtitle"></p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

</div>

 <hr class="cards-line"/>

<div class="container">
  <div class="card">
    <ul class="tabs">
      <li class="active" data-tab="1"><span>32</span>Tabs</li>
      <li data-tab="2"><span>4</span>Tabs</li>
    </ul>
      <div class="content visible" data-content="1">
        <ul>
          <li>Tab content 0</li>
          <li>Tab content 1</li>
          <li>Tab content 2</li>
          <li>Tab content 3</li>
          <li>Tab content 4</li>
          <li>Tab content 5</li>
          <ul class="hidden-content">
            <li>More content</li>
            <li>More content</li>
            <li>More content</li>
            <li>More content</li>
          </ul>
          <li class="show-more" data-less="Show less" data-more="Show more"> <span>Show more</span><i class="fa fa-chevron-down"></i></li>
        </ul>
      </div>
  </div>
</div>

 <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>

 <script src="/javascripts/cardsAdmin.js"></script>
