<div class="dashboard-container">
  <div id="kits" class="dashboard-item">
    <div class="dashboard-header"><h5 class="pt-2"> Kits </h5> </div>
  </div>
  <div id="requisitions" class="dashboard-item">
    <div class="dashboard-header"><h5 class="pt-2"> Requisições </h5> </div>
  </div>
</div>

<div class="dashboard-container">
  <div id="samples" class="dashboard-counter">
    <div class="dashboard-number">{{countSamples}}</div>
    <div class="dashboard-label">Amostras</div>
  </div>

  <div id="analysis" class="dashboard-counter">
    <div class="dashboard-number">{{countRequisitions}}</div>
    <div class="dashboard-label">Análises</div>
  </div>

  <div id="clients" class="dashboard-counter">
    <div class="dashboard-number">{{countClients}}</div>
    <div class="dashboard-label">Clientes</div>
  </div>
</div>
