<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="../routes/expandingdivs.js"></script>
  </head>
  <body>
    <div class="kanban-structure" id="main-kanban"></div>

  <script type="text/javascript">
    const kanban = new jKanban({
      element : '#main-kanban',
      click : function(el){
        alert(el.innerHTML);
        alert(el.dataset.eid);
      },
      boards :[ {
        id:
      }
      ]

    })

  </script>
  </body>
</html>
