<div class="row">

<div class="queue-tabs">
  <input type="radio" name="queue-tabs" id="tab1" checked="checked">
  <label for="tab1">Aflatoxina</label>
  <div class="queue-tab">
    <div id="aflatoxina">
    </div>
    <div class="form-check form-check-inline">
      <div class=" lote" id="KitRadioAfla">

        <p>
          <a class="radioSub"> Selecione o Kit:</a>


          <div class="btn-lote">
            <input checked class="radio-queue" name="Kit" type="radio" id="KitAflaA">A</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue  " name="Kit" type="radio" id="KitAflaB" >B</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue " type="radio" name="Kit" id="KitAflaC" >C</input>
          </div>

        </p>
      </div>
    </div>

   <div id="hideAfla" class="form-disabled">
      <div id="afla2toxina" >
      </div>




      <div class="btn-add-board">
        <button class="btn btn-success" id="addDefaultAfla" onclick="AflaPlusButton()">Adicionar Mapa </button>
      </div>
      <div class="btn-minus">
        <button class="btn btn-success" id="removeBoardAl" onclick="AflaMinusButton()">Remover </button>
      </div>
      <div class="btn-show">
        <button class="btn btn-success" id="countMapAfla"> 1 </button>
      </div>

   </div>


  </div>

  <input type="radio" name="queue-tabs" id="tab2">
  <label for="tab2">Ocratoxina A</label>
  <div class="queue-tab">
    <div id="ocratoxina">
    </div>
    <div class="form-check form-check-inline">
      <div class="lote">

        <p>
          <a class="radioSub"> Selecione o Kit:</a>


          <div class="btn-lote">
            <input checked class="radio-queue   " name="Kit" type="radio" >A</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue  " name="Kit" type="radio" >B</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue " type="radio" name="Kit" >C</input>
          </div>

        </p>
      </div>
    </div>

    <div id="ocra2toxina">
    </div>




    <div class="btn-add-board">
      <button class="btn btn-success" id="addDefaultOcra" onclick="OcraPlusButton()">Adicionar Mapa </button>
    </div>
    <div class="btn-minus">
      <button class="btn btn-success" id="removeBoardOcra" onclick="OcraMinusButton()">Remover </button>
    </div>
    <div class="btn-show">
      <button class="btn btn-success" id="countMapOcra"> 1 </button>
    </div>
  </div>


  <input type="radio" name="queue-tabs" id="tab3">
  <label for="tab3">Deoxinivalenol</label>
  <div class="queue-tab">

    <div id="deoxinivalenol">
    </div>
    <div class="form-check form-check-inline">
      <div class="lote">

        <p>
          <a class="radioSub"> Selecione o Kit:</a>


          <div class="btn-lote">
            <input checked class="radio-queue   " name="Kit" type="radio" >A</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue  " name="Kit" type="radio" >B</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue " type="radio" name="Kit" >C</input>
          </div>

        </p>
      </div>
    </div>

    <div id="deoxini2valenol">
    </div>




    <div class="btn-add-board">
      <button class="btn btn-success" id="addDefaultDeox" onclick="DeoxPlusButton()">Adicionar Mapa </button>
    </div>
    <div class="btn-minus">
      <button class="btn btn-success" id="removeBoardDeox" onclick="DeoxMinusButton()">Remover </button>
    </div>
    <div class="btn-show">
      <button class="btn btn-success" id="countMapDeox"> 1 </button>
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab4">
  <label for="tab4">T-2 toxina</label>
  <div class="queue-tab">
    <div id="t2toxina">
    </div>
    <div class="form-check form-check-inline">
      <div class="lote">

        <p>
          <a class="radioSub"> Selecione o Kit:</a>


          <div class="btn-lote">
            <input checked class="radio-queue   " name="Kit" type="radio" >A</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue  " name="Kit" type="radio" >B</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue " type="radio" name="Kit" >C</input>
          </div>

        </p>
      </div>
    </div>

    <div id="t22toxina">
    </div>




    <div class="btn-add-board">
      <button class="btn btn-success" id="addDefaultT2" onclick="T2PlusButton()">Adicionar Mapa </button>
    </div>
    <div class="btn-minus">
      <button class="btn btn-success" id="removeBoardT2" onclick="T2MinusButton()">Remover </button>
    </div>
    <div class="btn-show">
      <button class="btn btn-success" id="countMapT2"> 1 </button>
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab5">
  <label for="tab5">Fumonisina</label>
  <div class="queue-tab">
    <div id="fumonisina">
    </div>
    <div class="form-check form-check-inline">
      <div class="lote">

        <p>
          <a class="radioSub"> Selecione o Kit:</a>


          <div class="btn-lote">
            <input checked class="radio-queue   " name="Kit" type="radio" >A</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue  " name="Kit" type="radio" >B</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue " type="radio" name="Kit" >C</input>
          </div>

        </p>
      </div>
    </div>

    <div id="fumonisina2">
    </div>




    <div class="btn-add-board">
      <button class="btn btn-success" id="addDefaultFumo" onclick="FumoPlusButton()">Adicionar Mapa </button>
    </div>
    <div class="btn-minus">
      <button class="btn btn-success" id="removeBoardFumo" onclick="FumoMinusButton()">Remover </button>
    </div>
    <div class="btn-show">
      <button class="btn btn-success" id="countMapFumo"> 1 </button>
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab6">
  <label for="tab6">Zearalenona</label>
  <div class="queue-tab">
    <div id="zearalenona">
    </div>
    <div class="form-check form-check-inline">
      <div class="lote">

        <p>
          <a class="radioSub"> Selecione o Kit:</a>


          <div class="btn-lote">
            <input checked class="radio-queue   " name="Kit" type="radio" >A</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue  " name="Kit" type="radio" >B</input>
          </div>
          <div class="btn-lote">
            <input class="radio-queue " type="radio" name="Kit" >C</input>
          </div>

        </p>
      </div>
    </div>

    <div id="zearalenona2">
    </div>




    <div class="btn-add-board">
      <button class="btn btn-success" id="addDefaultZ" onclick="ZPlusButton()">Adicionar Mapa </button>
    </div>
    <div class="btn-minus">
      <button class="btn btn-success" id="removeBoardZ" onclick="ZMinusButton()">Remover </button>
    </div>
    <div class="btn-show">
      <button class="btn btn-success" id="countMapZ"> 1 </button>
    </div>
  </div>
</div>
</div>

<script src="/javascripts/queue.js"></script>
