<div class="row">

<div class="queue-tabs">
  <input type="radio" name="queue-tabs" id="tab1" checked="checked">
  <label for="tab1">Aflatoxina</label>
  <div class="queue-tab">
    <div id="aflatoxina">
    </div>
    <div class="form-check form-check-inline">
      <div class="lote">

        <p>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="Aflatoxinas">A</input>
          </div>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="Ocratoxina A">B</input>
          </div>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="Deoxinivalenol*">C</input>
          </div>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="T-2 toxina">D</input>
          </div>
        </p>
      </div>
    </div>

    <div id="afla2toxina">
    </div>




    <div class="btn-add-board">
      <button class="btn btn-success" id="addDefaultAfla" onclick="AflaPlusButton()">Adicionar Mapa </button>
    </div>
    <div class="btn-minus">
      <button class="btn btn-success" id="removeBoardAl" onclick="AflaMinusButton()">Remover </button>
    </div>
    <div class="btn-show">
      <button class="btn btn-success" id="countMapAfla"> 1 </button>
    </div>




  </div>

  <input type="radio" name="queue-tabs" id="tab2">
  <label for="tab2">Ocratoxina A</label>
  <div class="queue-tab">
    <div id="ocratoxina">
    </div>
    <div class="form-check form-check-inline">
      <div class="lote">

        <p>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="Aflatoxinas">A</input>
          </div>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="Ocratoxina A">B</input>
          </div>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="Deoxinivalenol*">C</input>
          </div>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="T-2 toxina">D</input>
          </div>
        </p>
      </div>
    </div>

    <div id="ocra2toxina">
    </div>




    <div class="btn-add-board">
      <button class="btn btn-success" id="addDefaultOcra" onclick="OcraPlusButton()">Adicionar Mapa </button>
    </div>
    <div class="btn-minus">
      <button class="btn btn-success" id="removeBoardOcra" onclick="OcraMinusButton()">Remover </button>
    </div>
    <div class="btn-show">
      <button class="btn btn-success" id="countMapOcra"> 1 </button>
    </div>
  </div>


  <input type="radio" name="queue-tabs" id="tab3">
  <label for="tab3">Deoxinivalenol</label>
  <div class="queue-tab">

    <div id="deoxinivalenol">
    </div>
    <div class="form-check form-check-inline">
      <div class="lote">

        <p>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="Aflatoxinas">A</input>
          </div>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="Ocratoxina A">B</input>
          </div>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="Deoxinivalenol*">C</input>
          </div>
          <div class="btn-lote">
            <input class="form-check-input position-static ml-1" type="checkbox" name="requisition[mycotoxin]" value="T-2 toxina">D</input>
          </div>
        </p>
      </div>
    </div>

    <div id="deoxini2valenol">
    </div>




    <div class="btn-add-board">
      <button class="btn btn-success" id="addDefaultDeox" onclick="DeoxPlusButton()">Adicionar Mapa </button>
    </div>
    <div class="btn-minus">
      <button class="btn btn-success" id="removeBoardDeox" onclick="DeoxMinusButton()">Remover </button>
    </div>
    <div class="btn-show">
      <button class="btn btn-success" id="countMapDeox"> 1 </button>
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab4">
  <label for="tab4">T-2 toxina</label>
  <div class="queue-tab">
    <div id="t2toxina">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab5">
  <label for="tab5">Fumonisina</label>
  <div class="queue-tab">
    <div id="fumonisina">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab6">
  <label for="tab6">Zearalenona</label>
  <div class="queue-tab">
    <div id="zearalenona">
    </div>
  </div>
</div>
</div>

<script src="/javascripts/queue.js"></script>
