<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content ="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <script src="/javascripts/jquery.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>

    <nav class="showHeader">
      <h1 class="showHeaderH1">Informações da requisição</h1>
    </nav>

    <div class="showBody">
      <div class="recShowBox">
        <div class="showHeaderH3">
          <h3>Nome da requisição:</h3>
        </div>
        <div class="showText">  
        </div>
        <div class="showHeaderH3">
          <h3>Data:</h3>
        </div>
        <div class="showText">
        </div>
        <div class="showHeaderH3">
          <h3>Destinação:</h3>
        </div>
        <div class="showText">
        </div>
        <div class="showHeaderH3">
          <h3>Análise solicitada:</h3>
        </div>
        <div class="showText">
        </div>
        <div class="showHeaderH3">
          <h3>Status:</h3>
        </div>
        <div class="showText">
        </div>
      </div>
    </div>

  </body>
</html>
