<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/jkanban.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content ="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body>
    <script src="/javascripts/jquery.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
    <script src="/javascripts/jkanban.min.js" charset="utf-8"></script>

    <nav class="navbar navbar-default no-margin">
      <div class="navbar-header fixed-brand">
        <button class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
          <span class="fa fa-4x fa-bars" aria-hidden="true"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
              <span class="fa fa-4x fa-bars" aria-hidden="true"></span>
            </button>
          </li>
        </ul>
      </div>

      <div id="dashboard-phone">
        <p>(31) 3409-2113 </p>
        <p>(31) 3409-2115 </p>
      </div>

      <div id="dashboard-social-media">
        <button id="btn-facebook" class="btn"><i class="fa fa-facebook fa-lg"></i></button>
        <button id="btn-instagram" class="btn"><i class="fa fa-instagram fa-lg"></i></button>
      </div>

      <div id="dashboard-user" class="navbar-brand" href="#"><a><i class="fa fa-user fa-4"></i> Usuário</a></div>
      <button type="button" id="dashboard-logout" class="btn btn-primary btn-sm">Logout</button>
    </nav>

    <div id="wrapper">
      <div id="sidebar-wrapper">
         <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-home fa-stack-1x "></i></span>Principal</a>
            </li>

            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-columns fa-stack-1x "></i></span>Mapa de Trabalho</a>
            </li>

            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Clientes</a>
            </li>

            <li>
               <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span>Analistas</a>
            </li>

            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-area-chart fa-stack-1x "></i></span>Dados estatísticos</a>
            </li>

            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-file-text fa-stack-1x "></i></span>Laudos</a>
            </li>

            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-truck fa-stack-1x "></i></span>Controle de estoque</a>
            </li>
         </ul>
      </div>

      <div id="page-content-wrapper">
         <div class="container-fluid xyz">
           {{{body}}}
         </div>
      </div>

     </div>

     <div class="webvet-alert col-12 col-lg-4 col-md-6">
       {{> messages}}
     </div>

     <script src="/javascripts/layoutDashboard.js"></script>

  </body>
</html>
