<!DOCTYPE html>
<html style="min-height: 100%;overflow:auto;">

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/jkanban.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/javascripts/jquery.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
    <script src="/javascripts/jquery.validate.min.js" charset="utf-8"></script>
</head>

<body class="d-flex flex-column" style="min-height: 100%;overflow:auto;">
    {{!-- <div class="d-flex align-items-center justify-content-around"> --}}
    <div class="d-flex align-items-center justify-content-center">
        <div style="height:100px;background-size:contain;" class="img-login mt-3 col-md-2 justify-content-center">
        </div>
    </div>

    {{!-- </div> --}}
    </br>
    </br>
    <div style="min-height: 100%;">
        {{{body}}}
    </div>
    <footer class="d-flex align-self-end justify-content-center w-100">
        <div style="height:150px;background-size:contain;" class="img-footer mt-1 col-md-2">
        </div>
    </footer>
</body>


</html>