<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content ="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <script src="/javascripts/jquery.js" charset="utf-8"></script>
    <script src="/javascripts/vue.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>

    <section class="dashboard-content">
     <div class="dashboard-header">
       <div class="dashboard-header-nav">
        <div class="dashboard-menu-button">

        </div>
       </div>
     </div>
    </section>

    <div class="dashboard-sidebar">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>

    </div>

    <div class="dashboard-container">
      {{{body}}}
    </div>
  </body>
</html>
