<!DOCTYPE html>
<html class="h-100">

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/jkanban.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/javascripts/jquery.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
    <script src="/javascripts/jquery.validate.min.js" charset="utf-8"></script>
</head>

<body class="p-0 h-100 d-flex flex-column">
    <div class="d-flex align-items-center justify-content-center">
        <div style="height:100px;background-size:contain;" class="img-login mt-3 col-md-2 justify-content-center">
        </div>
    </div>

    </br>
    </br>
    {{{body}}}
    <footer class="d-flex align-items-end justify-content-center mt-auto">
        <div style="height:150px;background-size:contain;" class="img-footer mt-1 col-md-2">
        </div>
    </footer>
</body>

</html>