<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/jkanban.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="/javascripts/jquery.js" charset="utf-8"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
</head>

<body class="p-0">

  <div style="height:190px;" class="img-login w-100 mt-1">
  </div>
  {{{body}}}
  <div class="webvet-alert col-12 col-lg-4 col-md-6">
    {{> messages}}
  </div>

  <div style="height:100px;" class="img-footer w-100 mt-4">
  </div>
</body>

</html>