
<div class="queue-tabs">
  <input type="radio" name="queue-tabs" id="tab1" checked="checked">
  <label for="tab1">Micotoxina 1</label>
  <div class="queue-tab">
    <div id="mycotoxin1">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab2">
  <label for="tab2">Micotoxina 2</label>
  <div class="queue-tab">
    <div id="mycotoxin2">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab3">
  <label for="tab3">Micotoxina 3</label>
  <div class="queue-tab">
    <div id="mycotoxin3">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab4">
  <label for="tab4">Micotoxina 4</label>
  <div class="queue-tab">
    <div id="mycotoxin4">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab5">
  <label for="tab5">Micotoxina 5</label>
  <div class="queue-tab">
    <div id="mycotoxin5">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab6">
  <label for="tab6">Micotoxina 6</label>
  <div class="queue-tab">
    <div id="mycotoxin6">
    </div>
  </div>
<div>

<script src="/javascripts/queue.js"></script>
