<link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
<div class="showstock">
    <div class="showbox">
      <p>
        <font face="Verdana">
        <br>
        <p><font color="gray" size="5">Kit NOMEDOKIT</p>
        <hr color="lightgray">
        <div class="showboxinfo">
          <div class="col-xs-2">
            <label for="ex1">Quantidade em Estoque</label>
            <input class="form-control" id="ex1" type="text">
          </div>
          <p><font size="5" color="black">Situação:</p>
          <p><font size="4" color="red">kitSchema.status</p>
        </div>
      </p>
    </div>
  </div>
