<form action="/allcalibrators" method="post">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-fluid container-fluid">
        <h1>Calibradores</h1>
        </br>
      </div>

      <div class="container-fluid d-flex d-flex justify-content-around flex-wrap">
        {{#each names}}
          <table>
            <thead>
              <tr>
                <th scope="col">{{this}}</th>
                <th class="absorbance px-2" scope="col">Absorvância</th>
              </tr>
            </thead>

            <tbody>
              {{#for 1 6 1}}
                <tr>
                  <th class="px-3">P{{this}}</th>
                  <th>
                    <div class="input-group-sm" style="max-width: 100px;">
                      <input name="{{../this}}Calibrator[P{{this}}]" class="form-control text-center">
                    </div>
                  </th>
                </tr>
              {{/for}}
          </table>
        {{/each}}
      </div>

      <div class="btn-group-justified col-sm-12 container-fluid mt-3">
        <div class="btn btn-back">
          <a href="/queue" class="btn btn-success" id="test">Voltar</a>
        </div>
        <div class="btn btn-abs">
          <button class="btn btn-success">Finalizar</button>
        </div>
      </div>

    </div>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
</form>


{{!-- <script src="/javascripts/printtemplate.js"></script> --}}