
  <div class="user-box" id="user-box-device">
    <div class= "user-card-kits" id="requisition-user">
      <h1>Histórico de kits</h1>
      {{#each kits}}
          <li>{{productCode}}</li>
      {{/each}}
    </div>
  </div>
