<div class="col-sm-12 container-fluid">
    <div class="col-sm-12 text-center container-fluid">
        <h1>Curvas de Calibração</h1>
    </div>
    <div class="col-sm-12 text-center container-fluid">
        <h4>Use este div para colocar sua tabela</h4>
    </div>
    <div class="btn-group-justified col-sm-12 container-fluid">
        <div class="btn btn-back">
            <a href="/allsamples" class="btn btn-success" id="test">Digitar absorvâncias novamente</a>
        </div>
        <div class="btn btn-abs">
            <button class="btn btn-success">Finalizar</button>
        </div>
    </div>
</div>