<div class="col-sm-12 container-fluid">
  <div class="col-sm-12 text-center container-fluid">
    <h1>Curvas de Calibração</h1>
  </div>
  <div class="col-sm-12 text-center container-fluid">
    {{#each toxinas}}
    <table class="table mb-5">
      <thead>
        <tr>
          <th scope="col">{{name}}</th>
          <th scope="col">Concentração</th>
          <th scope="col">Absorvância</th>
        </tr>
      </thead>
      <tbody>
        {{#each calibradores}}
        <tr>
          <th scope="row">{{calname}}</th>
          <td>{{concentracao}}</td>
          <td>{{absorvancia}}</td>
        </tr>
        {{/each}}
        </tr>
      </tbody>
    </table>
    {{/each}}
  </div>
  <div class="btn-group-justified col-sm-12 container-fluid">
    <div class="btn btn-back">
      <a href="/allsamples" class="btn btn-success" id="test">Digitar absorvâncias novamente</a>
    </div>
    <div class="btn btn-abs">
      <button class="btn btn-success">Finalizar</button>
    </div>
  </div>
</div>