
<div class="col-sm-12 container-fluid">
    <div class="col-sm-12 text-center container-fluid">
        <h1>Curvas de Calibração</h1>
    </div>
    <div class="col-sm-12 text-center container-fluid">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Concentração</th>
      <th scope="col">Absorvância</th>
      <th scope="col">R</th>
      <th scope="col">Slope</th>
      <th scope="col">Intercept</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
    </div>
    <div class="btn-group-justified col-sm-12 container-fluid">
        <div class="btn btn-back">
            <a href="/allsamples" class="btn btn-success" id="test">Digitar absorvâncias novamente</a>
        </div>
        <div class="btn btn-abs">
            <button class="btn btn-success">Finalizar</button>
        </div>
    </div>
</div>
{{!-- {{#each yIntercept}}
       <tr><td><div class = "linhas-print"><hr></div></td></tr>
      {{/each}} --}}

