<div class="cards-container">

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Micotoxina</h1>
      <p class="cards-front-subtitle">1</p>
    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Micotoxina</h1>
      <p class="cards-front-subtitle">2</p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Micotoxina</h1>
      <p class="cards-front-subtitle">3</p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Micotoxina</h1>
      <p class="cards-front-subtitle">4</p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Micotoxina</h1>
      <p class="cards-front-subtitle">5</p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

  <div class="cards-element">
    <div class="cards-front">
      <h1 class="cards-front-title">Micotoxina</h1>
      <p class="cards-front-subtitle">6</p>

    </div>

    <div class="cards-back">
      <h1 class="cards-front-title"></h1>

    </div>

  </div>

</div>

 <hr class="cards-line"/>

 <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>
 <script type='text/javascript'>
 $(document).ready(function(){

 	$('.cards-element').on('click', function(){
 		if ( $(this).hasClass('cards-open') ) {
 			$(this).removeClass('cards-open');
 		} else {
 			$('.element-card').removeClass('cards-open');
 			$(this).addClass('cards-open');
 		}

 	});

 });
 </script>
