
<div class="expanding-container">
  <button class='expanding btn-expand' id="expand-11">+</button>
    <p class="expand expanding" >Micotoxina 1.1</p>
</div>

<div class="expandable" id="expandable-11">
    <p>this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess
    </p>
</div>

<div class="expanding-container">
    <button class='expanding btn-expand' id="expand-12">+</button>
    <p class="expand expanding" >Micotoxina 1.2</p>
</div>

<div class="expandable" id="expandable-12">
    <p>this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess
    </p>
</div>

<div class="expanding-container">
    <button class='expanding btn-expand' id="expand-13">+</button>
    <p class="expand expanding" >Micotoxina 1.3</p>
</div>

<div class="expandable" id="expandable-13">
    <p>this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess
    </p>
</div>

<div class="expanding-container">
    <button class='expanding btn-expand' id="expand-14">+</button>
    <p class="expand expanding" >Micotoxina 1.4</p>
</div>

<div class="expandable" id="expandable-14">
    <p>this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess
    </p>
</div>

<div class="expanding-container">
    <button class="expanding btn-expand" id="expand-15">+</button>
    <p class="expand expanding" >Micotoxina 1.5</p>
</div>

<div class="expandable" id="expandable-15">
    <p>this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess this had some content i guess
    </p>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script src="/javascripts/expandingDivs.js"></script>
