<img src='/images/MicoTox2.jpg' width="100%">
  <div class="password-box">
      <form action="/forgotPassword" method="post">
      <h1> Esqueci minha senha </h1>
      <br>
        <div class="textbox">
          <input type="email" class="input-placeholder" placeholder="email" name="user[email]">
        </div>
        <input class="btn btn-login mt-2" type="submit" value="Login">
      </form>
  </div>
