<div class="index-body">
  <div class="wrapper">
    <div class="index-faixa">
    	<div class="index-box">
        <h1> Laboratório de Micotoxinas da UFMG - WebVet </h1>
    		<form class="form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <a href="/login"><button type="button" class="btn btn-success btn-primary btn-lg btn-block">Login</button></a>
              </div>
              <div class="col-6">
                  <a href="/signup"><button type="button" class="btn btn-success btn-primary btn-lg btn-block">Cadastro</button></a>
              </div>
            </div>
          </div>
    		/</form>
    	</div>
    </div>

  	<ul class="bg-bubbles">
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  	</ul>
  </div>
</div>


<script type="text/javascript" src="javascripts/benzeno.js"></script>
