<div class="index-body">
  <div class="wrapper">
    <div class="index-faixa">
    	<div class="index-box">
        <h1> Laboratório de Micotoxinas da UFMG - WebVet </h1>
    		<form class="form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <a href="/login"><button type="button" class="btn btn-success btn-primary btn-lg btn-block">Login</button></a>
              </div>
              <div class="col-6">
                  <a href="/signup"><button type="button" class="btn btn-success btn-primary btn-lg btn-block">Cadastro</button></a>
              </div>
            </div>
          </div>
    		/</form>
    	</div>
    </div>


  	<ul class="bg-bubbles">
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  	</ul>
  </div>
</div>

<div class="index-branco">

  <table>
    <tr>
      <td>
        <img src= "/images/lab.jpg" width="470px" height="346px" >
      </td>
      <td>
        <h2> Lorem Ipsum </h2>
        <p>
          Lorem ipsum feugiat lobortis convallis cras mauris, amet iaculis ac erat nulla molestie, imperdiet arcu tempus ultrices ut.
          sem rhoncus justo sapien eget imperdiet praesent turpis in ac mollis, risus nostra mattis ut nullam et felis quis sociosqu, faucibus quis vel fringilla suspendisse mollis orci phasellus nisl.
          quis vestibulum tristique sagittis aptent urna ac litora morbi, senectus arcu ut nisi pellentesque adipiscing donec ut at, ante scelerisque ipsum aliquam ante tellus ad cubilia, etiam id diam sapien phasellus molestie lobortis.
          etiam tristique odio magna mattis suspendisse etiam sit aenean, tempus class nam sagittis mattis feugiat morbi praesent adipiscing, eget fermentum class hendrerit convallis ut nec.
        </p>
        <p>
          Volutpat morbi ipsum suscipit mi volutpat felis pharetra, platea interdum pretium libero massa etiam hendrerit torquent, potenti dictumst rutrum torquent quis integer.
          a nam morbi bibendum urna habitant cubilia semper feugiat, aenean elit mattis varius viverra primis leo nullam auctor, neque porta dui lobortis etiam aptent porta.
        <p>
          Diam mattis vitae praesent aliquam tellus urna condimentum scelerisque lacinia netus, neque nostra rhoncus platea euismod duis donec in mi magna at, sodales ullamcorper a morbi ante lectus mollis nisl leo.
          rutrum amet tempus nam taciti volutpat rutrum lacinia eros laoreet, lacus nulla in nisi potenti curabitur accumsan nullam, malesuada litora elementum eget sed cras commodo feugiat.
          interdum turpis in turpis mollis quis phasellus a litora commodo, sollicitudin egestas viverra suspendisse senectus netus donec non lacinia, elementum aliquet placerat per sem blandit elit leo.
          a lacus fringilla dictum commodo tellus porttitor sem duis amet enim, mauris phasellus purus habitasse nulla libero dolor felis platea.
        </p>
      </td>

    </tr>
  </table>

</div>



<script type="text/javascript" src="javascripts/benzeno.js"></script>
