<div class="background-index">


<h1>Laboratório de Micotoxinas da UFMG - WebVet</h1>

<input class="btn btn-login mt-2" type="submit" href="/login" value="Login" id="loginIndex-btn">
<input class="btn btn-login mt-2" type="submit" href="" value="Cadastro" id="cadastroIndex-btn">

</div>
