<div class="login">
  <img src="../images/lamico.png" width="400px">
    <form class="box" action="/login" method="post">
      <h1> Login </h1>
      <input type="email" placeholder="Email" name="user[email]">
      <input type="password" placeholder="Password" name="user[password]">
      <input type="submit" name="" value="Login">
    </form>
</div>
