<div class="printtemplate">
  <div class="title-print">
    Mapas de Trabalho anteriores
  </div>
</div>
<div class="container-fluid d-flex d-flex justify-content-around flex-wrap">
   {{#each displayInfo}}
    <table>
      <thead>
        <tr>
          <th class="" scope="col">{{name}}</th>
          <th class="absorbance px-2" scope="col">Média abs</th>
          <th class="absorbance px-2" scope="col">Resultado</th>
        </tr>
      </thead>

      <tbody>
        {{#each results}}
          {{#if changed_workmap}}
            <tr>
              <td><br></td>
            </tr>
          {{/if}}
          <tr>
            <th class="px-3">{{number}}</th>
            <td class="input-group-sm" style="max-width: 100px;">
              <input readonly type="text" class="form-control text-center" value="{{round average 3}}">
            </td>
            <td class="input-group-sm" style="max-width: 100px;">
              <input readonly type="text" class="form-control text-center" value="{{round compara 2}}">
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>
</div>