<div class="printtemplate">
  <div class="title-print">
    Mapas de Trabalho
  </div>
</div>
  <div class="container-fluid d-flex justify-content-between flex-wrap">
    {{#each result}}
      <table>
        <thead>
          <tr>
            <th class="" scope="col">{{name}}</th>
          </tr>
        </thead>

        <tbody>
          {{#each samples}}
            {{#if changedworkmap}}
              <tr>
                <td><br></td>
              </tr>
            {{/if}}
            <tr>
              <th>{{samplenumber}}</th>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/each}}
  </div>
</div>