<h4>Kits Disponíveis</h4>

<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 1</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 2</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 2 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 3</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 3 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 4</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 1</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 1</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 1</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 1</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 1</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 1</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 1</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mapa de Trabalho 1</th>
      </tr>
    </thead>
  <!-- aqui vai as comparações se ta no mapa 1 -->
    <tbody>
      <tr>
        <th>Amotra 1</th>
        <th>Amotra 2</th>
        <th>Amotra 3</th>
        <th>Amotra 4</th>
        <th>Amotra 5</th>
        <th>Amotra 6</th>
        <th>Amotra 7</th>
        <th>Amotra 8</th>
      </tr>
    </tbody>
  </table>
</div>


<script src="/javascripts/printtemplate.js"></script>
