<div class="printtemplate">
  <div class="title-print">
    Mapas de Trabalho atuais
  </div>
</div>
<div class="container-fluid d-flex d-flex justify-content-around flex-wrap">
  {{#each displayInfo}}
    <table>
      <thead>
        <tr>
          <th class="" scope="col">{{name}}</th>
        </tr>
      </thead>

      <tbody>
        {{#each results}}
          {{#if changed_workmap}}
            <tr>
              <td><br></td>
            </tr>
          {{/if}}
          <tr>
            <th class="px-3">{{number}}</th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>
</div>