<div class="printtemplate">
  <div class="title-print">
    Mapas de Trabalho atuais
  </div>
</div>
<div class="container-fluid d-flex d-flex justify-content-around flex-wrap">
  {{#each result}}
    <table class="flex-fill">
      <thead>
        <tr>
          <th class="" scope="col">{{_id}}</th>
        </tr>
      </thead>

      <tbody>
        {{#each samples}}
          {{#if changedWorkmap}}
            <tr>
              <td><br></td>
            </tr>
          {{/if}}
          <tr>
            <th>{{samplenumber}}</th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>
</div>