
<div class="queue-tabs">
  <input type="radio" name="queue-tabs" id="tab1" checked="checked">
  <label for="tab1">Aflatoxina</label>
  <div class="queue-tab">
    <div id="mycotoxin1">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab2">
  <label for="tab2">Ocratoxina A</label>
  <div class="queue-tab">
    <div id="mycotoxin2">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab3">
  <label for="tab3">Deoxinivalenol</label>
  <div class="queue-tab">
    <div id="mycotoxin3">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab4">
  <label for="tab4">T-2 toxina</label>
  <div class="queue-tab">
    <div id="mycotoxin4">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab5">
  <label for="tab5">Fumonisina</label>
  <div class="queue-tab">
    <div id="mycotoxin5">
    </div>
  </div>

  <input type="radio" name="queue-tabs" id="tab6">
  <label for="tab6">Zearalenona</label>
  <div class="queue-tab">
    <div id="mycotoxin6">
    </div>
  </div>
<div>

<script src="/javascripts/queue.js"></script>
