<div class="form" >
  <h1> Formulário de Novo Registro</h1>
    <form>
        <div class="form-group col-md-7">
          <input type="text" name="Nome do cliente" class="form-control" placeholder="Nome do Cliente, produtor ou fazenda">
        </div>
    </form>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" name="Municipio" class="form-control" placeholder="Municipio">
        </div>
        <div class="form-group col-md-2">
          <input type="text" name="Estado" class="form-control" placeholder="Estado">
        </div>
      </div>
    </form>
    <form class="form-row">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" name="Data de coleta" placeholder="Data de Coleta">
        </div>
        <div class="form-group col-md-2">
          <input type="text" class="form-control" name="Autorização" placeholder="Número de Autorização(controle interno do solicitante)">
        </div>
    </form>
    <h6> Qual é a destiação do alimento</h6>
    <form class="form-row">
        <div class="form-check form-check-inline">
          <p>
            <input class="form-check-input position-static" type="radio" name="Aves">
            <label class="form-check-label" name="aves">Aves</label>
            <input class="form-check-input position-static" type="radio" name="Bovinos">
            <label class="form-check-label" name="Bovinos">Bovinos</label>
            <input class="form-check-input position-static" type="radio" name="Caprinos">
            <label class="form-check-label" name="Caprinos">Caprinos</label>
            <input class="form-check-input position-static" type="radio" name="Equinos">
            <label class="form-check-label" name="Equinos">Equinos</label>
            <input class="form-check-input position-static" type="radio" name="Ovinos">
            <label class="form-check-label" name="Ovinos">Ovinos</label>
            <input class="form-check-input position-static" type="radio" name="Peixes">
            <label class="form-check-label" name="Peixes">Peixes</label>
            <input class="form-check-input position-static" type="radio" name="Pet">
            <label class="form-check-label" name="Pet">Pet</label>
            <input class="form-check-input position-static" type="radio" name="Materia prima">
            <label class="form-check-label" name="Materiaprima">Materia Prima (Fábrica de Ração)</label>
          </p>
        </div>
        <div class="form-group col-md-2">
          <input type="text" class="form-control" name="Outro" placeholder="Outro">
        </div>
    </form>
    <h3> Identificação da Amostra</h3>
    <form>
      <form>
        <div class="form-row">
          <div class="form-group col-md-5">
            <input type="text" name="1" class="form-control" placeholder="Amostra 1">
          </div>
          <div class="form-group col-md-5">
            <input type="text" name="2" class="form-control" placeholder="Amostra 2">
          </div>
          <div class="form-group col-md-5">
            <input type="text" name="3" class="form-control" placeholder="Amostra 3">
          </div>
          <div class="form-group col-md-5">
            <input type="text" name="4" class="form-control" placeholder="Amostra 4">
          </div>
          <div class="form-group col-md-5">
            <input type="text" name="5" class="form-control" placeholder="Amostra 5">
          </div>
          <div class="form-group col-md-5">
            <input type="text" name="6" class="form-control" placeholder="Amostra 6">
          </div>
          <div class="form-group col-md-5">
            <input type="text" name="7" class="form-control" placeholder="Amostra 7">
          </div>
          <div class="form-group col-md-5">
            <input type="text" name="8" class="form-control" placeholder="Amostra 8">
          </div>
          <div class="form-group col-md-5">
            <input type="text" name="9" class="form-control" placeholder="Amostra 9">
          </div>
          <div class="form-group col-md-5">
            <input type="text" name="10" class="form-control" placeholder="Amostra 10">
          </div>
        </div>
        <div class="form-group">
          <label for="Observações">Observações</label>
          <textarea class="form-control" name="Observações" rows="4"></textarea>
        </div>
      </form>
      <h6> Análises Solicitadas</h6>
      <form class="form-row">
          <div class="form-check form-check-inline">
            <p>
              <input class="form-check-input position-static" type="radio" name="Aflatoxinas">
              <label class="form-check-label" name="Aflatoxinas">Aflatoxinas</label>
              <input class="form-check-input position-static" type="radio" name="Ocratoxina A">
              <label class="form-check-label" name="Ocratoxina A">Ocratoxina A</label>
              <input class="form-check-input position-static" type="radio" name="Deoxinivalenol*">
              <label class="form-check-label" name="Deoxinivalenol*">Deoxinivalenol*</label>
              <input class="form-check-input position-static" type="radio" name="T-2 toxina">
              <label class="form-check-label" name="T-2 toxina">T-2 toxina</label>
              <input class="form-check-input position-static" type="radio" name="Fumonisinas">
              <label class="form-check-label" name="Fumonisinas">Fumonisinas</label>
              <input class="form-check-input position-static" type="radio" name="Zearalenona">
              <label class="form-check-label" name="Zearalenona">Zearalenona</label>
            </p>
          </div>
      </form>
      <h6>*A Análise de Deoxinivalenol em polpa cítrica (ou dietas que tenham este ingrediente em sua composição requer purificação adicional) - Destacar esta informação na amostra enviada!</h6>
      <br>
      <button type="submit" class="btn btn-success">Entrar</button>
</div>
