<h1>oi</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class = "th-name">Código Produto</th>
      <th class = "th-type" name = "kitstock[stockmin]">Quantidade mínima</th>

    </tr>
  </thead>
  <tbody id="table-body">

  </tbody>//
</table>
<script src="/javascripts/setstock.js"></script>
