<div class="showstock">
    <div class="showbox">
      <p>
        <br>
        <p><font color="gray" size="5">Kit NOMEDOKIT</p>
        <hr color="lightgray">
        <div class="showboxinfo">
          <p><font size="4" color="black">Quantidade em Estoque:</p>
          <p><input type="text" style="width: 56px"> &nbsp<button class="btn-secondary"> Alterar </button></p>


          <p><font size="4" color="black">Situação</p>
          <p><font size="4" color="black">Lod</p>
          <p><font size="4" color="black">Loq</p>
          <p><font size="4" color="black">Fornecedor</p>
          <p><font size="4" color="black">Estoque Mínimo</p>
          <p>
            <div id="stockButton">
              <button class="btn-secondary"> Alterar </button>
              <input type="text" style="width: 56px">
              <button class="btn-secondary"> Alterar </button>
            </div>
          </p>
          <p><font size="4" color="red" name="kit[status]"></p>
        </div>
      </p>
    </div>
  </div>
