<form class="form-group" action="/test/signup" method="post">
  <input type="email" name="user[email]">
  <input type="password" name="user[password]">
  <button type="submit">Enviar</button>
</form>
