<div class="user-box" id="user-box-device">
  <div class= "user-card" id="requisition-user">
    <h1>Requisições em Progresso</h1>
    {{#each data}}
        <li>{{number}}/{{year}}</li>
    {{/each}}
  </div>
  <div class= "user-card" id="laudo-user">
    <h1>Laudos disponíveis</h1>
      {{#if laudEmpty}}
        <li>Nenhum laudo disponível</li>
      {{/if}}
      {{#each laudos}}
        <li>Laudo {{samplenumber}}</li>
      {{/each}}
  </div>
</div>
<div class="col-md-6 botao" >
  <a class="btn" href= '/logout' ></a>
</div>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>

<script src="/javascripts/user.js"></script>
