<div class="user-box">
  <div class= "user-card">
    <h1>Requisições em Progresso</h1>
      <li>Requisição 1</li>
      <li>Requisição 2</li>
      <li>Requisição 3</li>
      <li>Requisição 4</li>
      <li>Requisição 5</li>
      <li>Requisição 6</li>
  </div>
  <div class= "user-card">
    <h1>Laudos disponíveis</h1>
      <li>Laudo 1</li>
      <li>Laudo 2</li>
      <li>Laudo 3</li>
      <li>Laudo 4</li>
      <li>Laudo 5</li>
      <li>Laudo 6</li>
  </div>
</div>

<div class="col-md-6 botao" >
  <a class="btn" href= "/logout" ></a>
</div>
