<h4> Requisição de Usuário</h4>
<p></p>
<div class="table-responsive">
  <table id="tb-user" class="table table-striped table-hover">
    <thead>
      <tr>
        <th class = "th-name">Nome</th>
        <th class = "th-action">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Rafaela milagres lbalfiajfoijdaiuhiuh</th>
        <th>
          <button class="fa fa-info btn"></button>
          <button class="fa fa-thumbs-up btn btn-success"></button>
          <button class="fa fa-thumbs-down btn btn-danger"></button>
        </th>
      </tr>
      <tr>
        <th>Ma</th>
        <th>
          <button class="fa fa-info btn"></button>
          <button class="fa fa-thumbs-down btn btn-success"></button>
          <button class="fa fa-thumbs-up btn btn-danger"></button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
