<div class="user-box">
  <div class= "user-card">
    <h1>Requisições em Progresso</h1>
    {{#each requisition}}
      <li>{{ lab }}</li>
    {{/each}}
  </div>
  <div class= "user-card">
    <h1>Laudos disponíveis</h1>
      <li>Laudo 1</li>
      <li>Laudo 2</li>
      <li>Laudo 3</li>
      <li>Laudo 4</li>
      <li>Laudo 5</li>
      <li>Laudo 6</li>
      <li>Laudo 7</li>
  </div>
</div>
