<div class="boxes container-fluid index-faixa p-4">
  <div class="row justify-content-center row-6 row-md-3">
    <div class="login-box1 col-10 col-lg-4 m-2">
      <form action="/forgotPassword" method="post">
        <h1>Esqueci minha senha</h1>
        <br>
        <div class="textbox p-2 m-2" id="login-text-email">
          <input type="email" class="input-placeholder" placeholder="email" name="user[email]" required>
        </div>
        <div>
          {{error}}
        </div>
        <div class="mt-4 mb-2 d-flex">
          <input id="btn-back" class="btn btn-login mx-2" type="button" value="Voltar" />
          <input class="btn btn-login mx-2" type="submit" value="Enviar" />
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $('#btn-back').click(function () {
    window.location.href = '/';
  })
</script>