<div class="boxes container-fluid index-faixa p-4">
  <div class="row justify-content-center">
    <div class="login-box1 col-10 col-lg-4 m-2">
      <form action="/login" method="post">
        <h1>Já sou cadastrado</h1>
        <br>
        <div class="textbox p-2 m-2" id="login-text-email">
          <input type="email" class="input-placeholder" placeholder="email" name="user[email]">
        </div>
        <div class="textbox p-2 m-2" id="login-text-password">
          <input type="password" class="input-placeholder" placeholder="password" name="user[password]">
        </div>
        <div class="d-flex justify-content-start m-2">
          <a class="text-left" href="/forgotPassword">
            Esqueci minha senha
          </a>
        </div>
        <input class="btn btn-login2 mt-2" type="submit" value="Login" id="login-btn">
      </form>
    </div>
    <div class="login-box1 col-10 col-lg-4 m-2">
      <h1>Quero me cadastrar!</h1>
      <br>
      <p> Se você ainda não é cadastrado, clique no botão para se cadastrar!</p>
      <a href="/signup"><input class="btn btn-login2 mt-2" type="button" value="Cadastro"> </a>
    </div>
  </div>
</div>


<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>