@import ../bootstrap/scss/bootstrap.scss

body
  margin: 0
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.login
  height: 100vh
  width: 100vh
  background: #FFFFFF
  text-align: center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)


.box
  width: 300px
  padding: 40px
  position: absolute
  top: 60%
  left: 50%
  transform: translate(-50%,-50%)
  background: #DCDCDC
  text-align: center
  border-radius: 20%


.box h1
  color: #32CD32
  text-transform: uppercase
  font-weight: 500

.box input[type = "email"], .box input[type = "password"]
  border: 0
  background: none
  display: block
  margin: 20px auto
  text-align: center
  border: 2px solid #32CD32
  padding: 14px 10px
  width: 200px
  outline: none
  color: #006400
  border-radius: 24px
  transition: 0.25s

.box input[type = "email"]:focus, .box input[type = "password"]:focus
  width: 220px
  border-color: #006400

.box input[type = "submit"]
  border: 0
  background: #32CD32
  display: block
  margin: 20px auto
  text-align: center
  border: 2px solid #32CD32
  padding: 14px 40px
  outline: none
  color: white
  border-radius: 24px
  transition: 0.25s
  cursor: pointer

.box input[type = "submit"]:hover
  background: #006400


.form
  padding-left: 35px
  background-image: "../images/planta.jpg"
