@import ../bootstrap/scss/bootstrap.scss

body
  padding: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  text-align: center
  width: 100%
  overflow-x: hidden

a
  color: #00B7FF

.login
  height: 100vh
  width: 100vh
  background: #2F4F4F
  text-align: center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)


.box
  width: 300px
  padding: 40px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  background: #000000
  text-align: center

.box h1
  color: white
  text-transform: uppercase
  font-weight: 500

.box input[type = "email"], .box input[type = "password"]
  border: 0
  background: none
  display: block
  margin: 20px auto
  text-align: center
  border: 2px solid #00FA9A
  padding: 14px 10px
  width: 200px
  outline: none
  color: white
  border-radius: 24px
  transition: 0.25s

.box input[type = "email"]:focus, .box input[type = "password"]:focus
  width: 220px
  border-color: #00FF00

.box input[type = "submit"]
  border: 0
  background: none
  display: block
  margin: 20px auto
  text-align: center
  border: 2px solid #00FF00
  padding: 14px 40px
  outline: none
  color: white
  border-radius: 24px
  transition: 0.25s
  cursor: pointer

.box input[type = "submit"]:hover
  background: #00FF00

div
  position: relative
  box-sizing: border-box
  padding: 20px
  background: #e6ffe6

.btn-expand
  background-color: #006600
  position: absolute
  left: 12px
  top: 18px
  border: none
  text-align: center
  font-weight: bold
  font-size: 20px
  margin: 4px 2px
  transition: 0.3s
  display: inline-block
  cursor: pointer

.expandable
  display: none

.expand
  width: 100%
  padding-left: 30px
  font-weight: bold
  font-size: 22px
  cursor: pointer
  text-align: left

.kanban
  overflow-x: auto
  padding: 10px
