@import ../bootstrap/scss/bootstrap.scss
@import ../bootstrap/scss/typeaheadjs.scss

$color1: #113619
$color2 : #6BA05C
$color3: #F7FCF2
$color4 : #708074
$color5: #2B2B2B


#aflatoxina
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start

#aflatoxina2
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start

#ocratoxina
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start

#ocratoxina2
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start

#deoxinivalenol
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start

#deoxinivalenol2
    display: flex
    flex-wrap: wrap-reverse
    justify-content: flex-start

#t2toxina
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start

#t2toxina2
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start

#fumonisina
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start

#fumonisina2
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start

#zearalenona
    display: flex
    flex-wrap: wrap-reverse
    justify-content: flex-start

#zearalenona2
  display: flex
  flex-wrap: wrap-reverse
  justify-content: flex-start


@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype')

@font-face
  font-family: 'OpenSans-Light'
  src: url("../fonts/OpenSans-Light.ttf")

@font-face
  font-family: 'OpenSans-Bold'
  src: url("../fonts/OpenSans-Bold.ttf")

@font-face
  font-family: 'ProzaLibre'
  src: url('../fonts/ProzaLibre-Regular.ttf') format('truetype')

@font-face
  font-family: 'ProzaLibre-Bold'
  src: url("../fonts/ProzaLibre-Bold.ttf")
  font-weight: bold


body
  padding: 0px
  font: 13.5px "OpenSans", Helvetica, Arial, sans-serif
  text-align: center
  width: 100%
  overflow-x: hidden
  margin: 0px

h1, h2, h3, h4, h5
  font-family: "ProzaLibre"

thead
  font-family: "ProzaLibre-Bold"

tbody
  font-family: "OpenSans-Light"

a
  color: #00B7FF
  text-decoration: none

header
  display: block

#aflatoxina
  display: flex

// INDEX
.index-faixa
  color: #98FB98
  background-color: #98FB98
  height: 500px


.index-branco
  background-color: white
  margin-top: 47vh

.index-box
  width: 500px
  color: #98FB98
  padding: 10px
  max-width: 600px
  margin: 70px auto
  padding: 70px 0
  height: 320px
  text-align: center

.index-box h1
  color: white
  font-size: 50px
  border-bottom: 4px solid #90EE90
  margin-bottom: 13px 0
  width: 1000px
  margin-left: -250px

//LOGIN PAGE

.boxes
  width: 80%
  margin: 10px auto
  padding-top: 0px
  box-sizing: border-box
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: center

input.center
  vertical-align: middle
  margin-top: -1px

.login-box1
  margin: 20px
  margin-top: 120px
  width: 35%
  height: 350px
  transform-style: preserve-3d
  //box-shadow: 1px 1px 10px #f0f0f0
  align-items: center
  cursor: pointer
  transition: all 0.3s cubic-bezier(1, 1, 1, 1)
  background: white

.login-box1 p
  padding: 23px
  font-size: 17px

.boxes h1
  color: #006400
  font-size: 20px
  border-bottom: 3px solid #32CD32
  margin-bottom: 20px 0
  padding: 8px

.textbox
  width: 85%
  overflow: hidden
  font-size: 20px
  padding: 10px
  margin: 8px 28px
  align-items: center
  border: 2px solid #32CD32
  border-radius: 6px
  justify-content: center

.textbox input
  border: none
  outline: none
  background: none
  font-size: 18px
  width: 100%
  margin: 0 10px
  align-items: center

.btn-login
  background: none
  border: 2px solid #32CD32
  margin-bottom: 10px
  color: 	#32CD32
  width: 85%

.btn-login2
  background: none
  border: 2px solid #32CD32
  margin-bottom: 50px
  color: 	#32CD32
  font-size: 16px
  width: 50%

.box input[type = "submit"]:hover
  background: #006400

.img-login
  background-image: url('/images/fundo8.jpg')
  background-repeat: no-repeat
  background-position: center
  background-color: white
  padding: 5em
  width: 100%
  padding-bottom: 57px

.body-login
  padding-top: 0px !important
  margin-top: -40px !important

//LOGIN PAGE DEVICE

// .login-device
//   background: linear-gradient(to bottom right, #3DC95F 0%, #113619 100%)
//   padding: 100em
//
// .login-box-device
//   width: 700px
//   height: 670px
//   position: absolute
//   top: 60%
//   text-align: center
//   left: 65%
//   transform: translate(-50%,-50%)
//   color: #98FB98
//   border-radius: 10%
//   background: rgba(255, 255, 255, 0.2)
//   padding: 10px
//
// .login-box-device h1
//   color: white
//   font-size: 100px
//   border-bottom: 7px solid #90EE90
//   margin-bottom: 18px 0
//
// .textbox-device
//   width: 100%
//   overflow: hidden
//   font-size: 80px
//   padding: 30px
//   margin: 8px 0
//   border-bottom: 4px solid #F0FFF0
//
// .textbox-device input
//   border: none
//   outline: none
//   background: none
//   font-size: 60px
//   width: 100%
//   margin: 0 10px
//
// .btn-login-device
//   background: none
//   border: 4px solid #90EE90
//   margin-bottom: 80px
//   color: 	#90EE90
//   font-size: 40px
//   width: 60%
//
// // FORGOT PASSWORD PAGE
//
// .password-box
//   width: 400px
//   height: 340px
//   position: absolute
//
//   top: 65%
//   text-align: center
//
//   left: 50%
//   transform: translate(-50%,-50%)
//   color: #98FB98
//   background: #FFFFFF
//   padding: 10px
//
// .password-box h1
//   color: #006400
//   font-size: 40px
//   border-bottom: 4px solid #90EE90
//   margin-bottom: 13px 0
//
// .wrapper
//   background-image: url('/images/fundo7.jpg')
//   background-repeat: no-repeat
//   background-position: center
//   padding: 28em
//   width: 100%

// SIGN UP PAGE

.signup
  width: 700px
  position: absolute
  margin-top: 25em
  left: 50%
  transform: translate(-50%,-50%)
  color: 	#006400

.signup h1
  font-size: 30px
  border-bottom: 4px solid #006400
  margin-bottom: 20px
  margin-top: 90px
  padding: 13px 0

.signup-text
  width: 100%
  overflow: hidden
  font-size: 18px
  padding: 8px 0
  margin: 8px 06
  border-bottom: 1px solid 	#006400

.signup-text input
  border: none
  outline: none
  background: none
  padding: 0px
  overflow: hidden
  font-size: 17px
  width: 100%
  float: left
  margin: 0 10px

.signup-text select
  border: none
  outline: none
  background: none
  color: 	#006400
  font-size: 17px
  width: 100%
  float: left
  margin: 0 10px


.signup-box
  width: 800px
  height: 800px
  position: absolute
  top: 45%
  left: 50%
  transform: translate(-50%,-50%)
  box-sizing: border-box
  background: rgba(255, 255, 255, 0.5)

.input-placeholder-green::placeholder
  color: #006400

.input-placeholder::placeholder
  color: #32CD32

.btn-signup
  background: none
  border: 2px solid #006400
  margin-bottom: 50px
  color: 	#006400
  width: 40%
  font-size: 14px
  height: 30px
  cursor: pointer

.btn-signup:hover
  background-color: #006400
  color: white
  width: 40%

  //REQUISITION PAGE

.requisition
  position: relative
  margin-left: 8px
  margin-right: 8px

.requisition h4
  float: center
  border-bottom: 4px solid #006400
  padding: 13px 0

.requisition-text
  width: 100%
  overflow: hidden
  font-size: 14px
  padding: 6px 0
  margin: 6px 0
  border-bottom: 1px solid #006400

.requisition-text input
  border: none
  outline: none
  background: none
  color: #006400
  font-size: 13px
  width: 100%
  float: left
  margin: 0 10px

.requisition-text textarea
  border: none
  outline: none
  background: none
  color: #006400
  font-size: 16px
  width: 80%
  float: left
  margin: 0 10px

.requisition-btn
  width: 100%
  background: none
  border: 2px solid #006400
  color: #006400
  padding: 5px
  font-size: 18px
  margin: 12px 0
  cursor: pointer

.micotoxina-options
  margin: 52px 14px 0px 27px
  padding: 0px 13px 0px 5px


.btn-enviar
  padding-top: 20px


.form-conf
    margin-left: 3px
    margin-right: 0px
    float: left

.requisition-text a
  border: none
  outline: none
  background: none
  color: #006400
  font-size: 18px
  width: 100%
  float: left
  margin: 0 10px

.requisition-titles
  font-size: 25px
  text-align: center
  font-weight: bold
  text-decoration: underline


.btn-destination
 text-align-last: left
 margin: 0px 20px 0px 0px
 float: left

.btn-destination-child
  float: left
  margin: 0px 50px 0px 0px
.btn-polpa
  margin: 0px 0px 0px 11px

// CLIENT PAGE

.user-box
  width: 100%
  margin: 0px auto
  padding: 20px
  box-sizing: border-box
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: center

.user-card
  margin: 40px
  width: 35%
  height: 350px
  transform-style: preserve-3d
  box-shadow: 1px 1px 10px #f0f0f0
  align-items: center
  cursor: pointer
  transition: all 0.3s cubic-bezier(1, 1, 1, 1)

.user-card h1
  font-size: 20px
  border-bottom: 4px solid 	#32CD32
  margin-bottom: 0px
  margin-top: 10px
  padding: 13px 0

.user-card li
  box-sizing: border-box
  color: #32CD32
  cursor: pointer
  font-size: 15px
  padding: 10px 13px
  position: relative
  border-bottom: 1px solid	#32CD32
  margin-bottom: 0px
  margin-top: 0px

.user-card li:hover
  background-color: #DCDCDC
  color: #1C1C1C
  width: 100%

.box
  width: 300px
  padding: 40px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  background: #000000
  text-align: center


.user-box-device
  width: 100%
  margin: 0px auto
  padding: 20px
  box-sizing: border-box
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center

.user-card-device
  margin: 40px
  width: 75%
  height: 350px
  transform-style: preserve-3d
  box-shadow: 1px 1px 10px #f0f0f0
  cursor: pointer
  transition: all 0.3s cubic-bezier(1, 1, 1, 1)

.user-card-device h1
  font-size: 20px
  border-bottom: 4px solid 	#32CD32
  margin-bottom: 0px
  margin-top: 10px
  padding: 13px 0

.user-card-device li
  color: #32CD32
  cursor: pointer
  font-size: 15px
  padding: 10px 13px
  position: relative
  border-bottom: 1px solid	#32CD32
  margin-bottom: 0px
  margin-top: 0px

.user-card-device li:hover
  background-color: #DCDCDC
  color: #1C1C1C
  width: 100%

.box h1
  color: white
  text-transform: uppercase
  font-weight: 500

.box input[type = "email"], .box input[type = "password"]
  border: 0
  background: none
  display: block
  margin: 20px auto
  text-align: center
  border: 2px solid #00FA9A
  padding: 14px 10px
  width: 200px
  outline: none
  color: white
  border-radius: 24px
  transition: 0.25s

.box input[type = "email"]:focus, .box input[type = "password"]:focus
  width: 220px
  border-color: #00FF00

.box input[type = "submit"]
  border: 0
  background: none
  display: block
  margin: 20px auto
  text-align: center
  border: 2px solid #00FF00
  padding: 14px 40px
  outline: none
  color: white
  border-radius: 24px
  transition: 0.25s
  cursor: pointer

.box input[type = "submit"]:hover
  background: #00FF00

//EXPANDING DIVs

.expanding-div
  box-sizing: border-box
  position: absolute
  padding: 1px
  background: #e6ffe6

.btn-expand
  background-color: #006600
  float: left
  left: 10px
  top: 2px
  border: none
  text-align: center
  font-weight: bold
  font-size: 20px
  margin: 2px
  transition: 0.3s
  display: inline-block
  cursor: pointer

.expanding-container
  position: relative
  box-sizing: border-box
  padding: 20px
  background: #e6ffe6

.expandable
  display: none
  position: relative
  padding: 1px
  background: #e6ffe6

.expand
  width: 100%
  padding-left: 50px
  padding-bottom: 0px
  font-weight: bold
  font-size: 22px
  cursor: pointer
  text-align: left


//RECORD/show

.showHeader
  width: 100%
  height: 10em
  display: block
  text-align: center
  background-color: #3DC95F

.showHeaderH1
  font-family: 'OpenSans'
  font-size: 5em
  color: white

.showHeaderH3
  font-family: 'OpenSans'
  font-size: 2em
  color: #2B2B2B

.showBody
  width: 100%
  height: 64.5em
  display: block
  text-align: center
  background-color: #2B2B2B

.recShowBox
  margin-left: auto
  margin-right: auto
  margin-top: auto
  margin-bottom: auto
  width: 80em
  height: 64.5em
  background-color: #F7FCF2
  padding: 10px
  text-align: left

@media (max-width: 420px)
  .showHeaderH1
    font-family: 'OpenSans'
    font-size: 3em
    color: white
    padding-top: 0.5em

  .showHeaderH3
    font-family: 'OpenSans'
    font-size: 2em
    color: #2B2B2B
    padding-bottom: 1em


//DASHBOARD-ADMIN

.navbar
  background-color: $color2 !important
  height: 65px

li
  list-style-type: none

.nav-pills > li > a
  border-radius: 0

.fa-bars
  color: $color1

#menu-toggle
  background: rgba(255,255,255,0)
  border-style: none
  left: 1%
  top: 6%
  position: absolute

#menu-toggle:focus
  outline: thin dotted
  outline: 0px auto -webkit-focus-ring-color
  outline-offset: 0px

#dashboard-logout
  border-style: none
  background-color: $color1

#dashboard-phone
  font-size: 1.1em
  line-height: 2px
  right: 45%
  top: 30%
  position: absolute

#dashboard-social-media
  right: 36%
  top: 20%
  position: absolute
  font-size: 1.1em

#btn-facebook
  background-color: transparent
  border: 1px solid $color1
  color: $color1

#btn-facebook:focus
  outline: thin dotted
  outline: 0px auto -webkit-focus-ring-color
  outline-offset: 0px

#btn-instagram
  background-color: transparent
  border: 1px solid $color1
  color: $color1

#btn-instagram:focus
  outline: thin dotted
  outline: 0px auto -webkit-focus-ring-color
  outline-offset: 0px


#dashboard-user
  color: $color5
  right: 5%
  position: absolute

#wrapper
  padding-left: 0
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
  overflow: hidden

#wrapper.toggled
  padding-left: 250px
  overflow: hidden

#sidebar-wrapper
  z-index: 2
  position: fixed
  left: 250px
  width: 0
  margin-top: 35px
  height: 100%
  margin-left: -250px
  overflow: hidden
  background: #191919
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease


#wrapper.toggled #sidebar-wrapper
  width: 250px

#content-wrapper
  position: absolute
  padding: 15px
  width: 100%
  overflow-x: hidden

.xyz
  min-width: 360px
  position: relative
  display: inline

#wrapper.toggled #page-content-wrapper
  position: relative
  margin-right: 0px

.fixed-brand
  width: auto

.sidebar-nav
  position: absolute
  top: 0
  width: 250px
  margin-left: 2px
  padding: 0
  list-style: none
  margin-top: 2px
  font-family: "OpenSans"
  font-size: 15px
  text-align: left
  overflow: hidden

.sidebar-nav li
  text-indent: 15px
  line-height: 40px

.sidebar-nav li a
  display: block
  text-decoration: none
  color: white

.sidebar-nav li a:hover
  text-decoration: none
  color: #6BA05C
  background: $color5
  border-left: $color1

.sidebar-nav li a:active,
.sidebar-nav li a:focus
  text-decoration: none

.sidebar-nav > .sidebar-brand
  height: 65px
  font-size: 18px
  line-height: 60px

.sidebar-nav > .sidebar-brand a
  color: $color1

.sidebar-nav > .sidebar-brand a:hover
  color: #fff
  background: none

.no-margin
  margin: 0

#dashboard-user
  font-size: 0.9em

.webvet-alert
  position: fixed
  top: 80px
  right: 10px
  margin-left: 10px

@media (max-width: 768px)
  #wrapper.toggled #sidebar-wrapper
    width: 100vw
    margin-top: 10px

  #wrapper.toggled .sidebar-nav li a
    width: 100vw
    position: relative

  #dashboard-phone
    display: none

  #dashboard-social-media
    display: none

  #dashboard-user
    right: 20%

@media (min-width: 769px)
  #wrapper
    padding-left: 250px

  .fixed-brand
    width: 250px

  #wrapper.toggled
    padding-left: 0

  #sidebar-wrapper
    width: 250px

  #wrapper.toggled #sidebar-wrapper
    width: 50px

  #wrapper.toggled-2 #sidebar-wrapper
    width: 50px

  #wrapper.toggled-2 #sidebar-wrapper:hover
    width: 250px

  #page-content-wrapper
    padding: 20px
    padding-top: 50px
    position: relative
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease

  #wrapper.toggled #page-content-wrapper
    position: relative
    margin-right: 0
    padding-left: 70px

  #wrapper.toggled-2 #page-content-wrapper
    position: relative
    margin-right: 0
    margin-left: -200px
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease
    width: auto

//ADMIN PAGE DASHBOARD

.dashboard-container
  display: flex
  flex-direction: row
  flex-wrap: wrap

.dashboard-item
  margin: 5px 5px -44px 5px
  border-color: $color2
  background-color: $color3
  height: 100px

.dashboard-header
  margin: 5px 5px 5px 5px
  background-color: $color2
  color: $color3
  height: 40px
  margin: 0 0 0 0

.dashboard-header h1
  font-family: 'ProzaLibre-Bold'

.dashboard-counter
  margin: 5px 5px 5px 5px
  background-color: $color5
  height: 100px
  display: flex
  flex-direction: row
  justify-content: center

.dashboard-number
  font-size: 40px
  color: $color3
  text-align: center
  position: relative
  top: 20%
  margin-right: 5px

.dashboard-label
  font-size: 20px
  color: $color3
  text-align: center
  position: relative
  top: 35%
  margin-left: 5px

#samples
  flex-grow: 2

#analysis
  flex-grow: 2

#clients
  flex-grow: 2

#requisitions
  flex-grow: 2

#kits
  flex-grow: 4

@media (max-width: 620px)
  .dashboard-container
    display: flex
    flex-direction: column
    flex-wrap: nowrap

//USERS PAGE

@media (max-width: 360px)
  #tb-user
    width: 90vw

  .th-action
    width: 40vw
    cursor: pointer

@media (max-width: 470px)
  .th-action
    width: 50vw
    cursor: pointer

@media (max-width: 321px)
  .th-action
    width: 10vw
    cursor: pointer

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th
   background-color: $color3

.th-users
  cursor: pointer

.user-edit-button
  text-align: left
  padding-top: 230px
  padding-left: 72px

  button:hover
    background-color: rgb(160, 170, 150)




//CARDS-MYCOTOXINS

.cards-container
  position: relative
  width: 100%
  margin: 0px auto
  padding: 20px
  box-sizing: border-box
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center

.cards-element
  position: relative
  margin: 10px
  width: 110px
  height: 150px
  transform-style: preserve-3d
  box-shadow: 1px 1px 10px #f0f0f0
  align-items: center
  cursor: pointer
  transition: all 0.3s cubic-bezier(1, 1, 1, 1)

  &.cards-open
    width: 154px
    height: 194px
    transform: rotatey(180deg)

.cards-front
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $color3
  border-radius: 3px

.cards-front-title
  width: 100%
  position: absolute
  top: 20%
  font-size: 20px
  text-align: center

.cards-front-subtitle
  width: 100%
  position: absolute
  top: 30%
  font-size: 42px
  text-align: center


.cards-back
  transform: rotateY( 180deg ) translateZ( 0px )
  display: flex
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $color3

.cards-line
  height: 2px
  border: none

//MAPA DE TRABALHO
.queue-tabs
  flex-wrap: wrap
  display: flex
  padding-bottom: 0
  padding-top: 10px

.queue-tabs label.Main
  order: 1
  display: block
  padding: 1rem 2rem
  margin-right: 0.2rem
  cursor: pointer
  background: #0a521a
  transition: background ease 0.2s
  color: #ffffff

.queue-tabs .queue-tab
  order: 99
  flex-grow: 1
  display: none
  width: 100%
  padding: 0.5rem
  background: $color3




.queue-tab
  margin-top: -8px

.queue-tabs input[type="radio"]
	display: none

.queue-tabs input[type="radio"]:checked + label[class="Main"]
	background: #2fab4b

.queue-tabs input[type="radio"]:checked + label[class="Main"] + .queue-tab
	display: block



@media (max-width: 45em)
  .tabs .tab,
  .tabs label
    order: initial
  .tabs label
    width: 100%
    margin-right: 0
    margin-top: 0.2rem

#myKanban
  overflow-x: hidden
  padding: 20px 0
  z-index: 1

#countkits
  margin-top: 10px
  margin-left: 10px

#countkitsAfla
  margin-top: 10px
  margin-left: 10px

#countkitsDeox
  margin-top: 10px
  margin-left: 10px

#countkitsFumo
  margin-top: 10px
  margin-left: 10px

#countkitsOcra
  margin-top: 10px
  margin-left: 10px

.info
  background: $color2
  color: #fff

.success
  background: $color2
  color: #fff

.showstock
  background-image: url('../images/micro.jpg')
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 100%
  position: fixed
  text-align: center


.showbox
  width: 660px
  height: 450px
  position: absolute
  top: 7%
  left: 16%
  bottom: 7%
  background: white
  text-align: center
  box-shadow: 0px 0px 29px rgba(27, 27, 10, 0.6)
  padding-left: 10px
  padding-right: 10px
  opacity: 0.85


.showboxinfo
  text-align: left
  padding-top: 40px
  padding-left: 60px

//PAGINA DE EDITAR USUARIO

.edit-user-img
  opacity: 0.06

.form-show-title
  width: 870px
  font-size: 22px
  padding-bottom: 2px
  font-family: 'ProzaLibre'
  border-bottom: 4px solid $color1

.form-show-text
  font-family: 'OpenSans'
  width: 100%
  overflow: hidden
  font-size: 16px
  padding: 5px 0
  margin: 8px 0
  text-align: left
  border-bottom: 1px solid $color2

.form-show-typeahead
  font-family: 'OpenSans'
  width: 100%
  font-size: 16px
  padding: 5px 0
  margin: 8px 0
  text-align: left
  border-bottom: 1px solid $color2

.form-show-typeahead input
  border: none
  outline: none
  background: none
  padding: 0px
  font-size: 15px
  width: 100%
  float: left
  margin: 0 10px

.form-select
  font-size: 15px

.form-show-label
  font-family: 'OpenSans'
  width: 100%
  overflow: hidden
  font-size: 16px
  padding: 5px 0
  margin: 8px 0
  text-align: left

.form-show-text input
  border: none
  outline: none
  background: none
  padding: 0px
  overflow: hidden
  font-size: 15px
  width: 100%
  float: left
  margin: 0 10px

.form-show-text select
  border: none
  outline: none
  background: none
  color: 	$color2
  font-size: 17px
  width: 100%
  float: left
  margin: 0 10px

.form-show-box
  position: relative
  width: 100%
  margin: 0px auto
  padding: 5px
  box-sizing: border-box
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center

  .input-placeholder-green::placeholder
    color: #006400

.form-disabled
  display: none

@media (max-width: 769px)
  .form-show-box
    position: relative
    width: 100%
    margin: 0px auto
    padding: 10px
    box-sizing: border-box
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center

.producers
  overflow-y: scroll
  height: 120px

#tb-user-producer
  font-size: 12px
  margin-top: 10px

  td
    padding: 3px 3px 3px 3px

#producer-search
  border-bottom: 1px solid $color2

@media (max-width: 360px)
  #tb-user-producer
    width: 90vw

//TYPEAHEAD
.tt-query
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

.tt-hint
  color: #999
  max-width: 0

.tt-menu     /* used to be tt-dropdown-menu in older versions */
  width: 335px
  margin-top: 4px
  padding: 4px 0
  background-color: #fff
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.2)
  -webkit-border-radius: 4px
     -moz-border-radius: 4px
          border-radius: 4px
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2)
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2)
          box-shadow: 0 5px 10px rgba(0,0,0,.2)

.tt-suggestion
  padding: 3px 20px
  line-height: 20px

.tt-suggestion.tt-cursor,.tt-suggestion:hover
  color: #fff
  background-color: #0097cf
  cursor: pointer

.tt-suggestion p
  margin: 0

#producer-list .tt-menu
  max-height: 150px
  overflow-y: auto
  font-size: 0.9em

#covenant-list .tt-menu
  max-height: 150px
  overflow-y: auto

#manager-list .tt-menu
  max-height: 150px
  overflow-y: auto

// BENZENO - INDEX
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300)



.index-body
	font-family: 'Source Sans Pro', sans-serif
	color: white
	font-weight: 300

	::-webkit-input-placeholder
		font-family: 'Source Sans Pro', sans-serif
			color:    white
		font-weight: 300

	:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
		font-family: 'Source Sans Pro', sans-serif
		 color:    white
		 opacity:  1
		font-weight: 300

	::-moz-placeholder
		font-family: 'Source Sans Pro', sans-serif
		 color:    white
		 opacity:  1
		font-weight: 300

	:-ms-input-placeholder  /* Internet Explorer 10+ */
		font-family: 'Source Sans Pro', sans-serif
		 color:    white
		font-weight: 300




// 	background: #98FB98
//   background: -webkit-linear-gradient(top left, #98FB98 0%, #98FB98 100%)
//   background: -moz-linear-gradient(top left, #98FB98 0%, #98FB98 100%)
//   background: -o-linear-gradient(top left, #98FB98 0%, #98FB98 100%)
//   background: linear-gradient(to bottom right, #98FB98 0%, #98FB98 100%)
//
// 	position: absolute
// 	top: 50%
// 	left: 0
// 	width: 100vw
// 	height: 58vh
// 	margin-top: -400px
// 	overflow: hidden






.bg-bubbles
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

	z-index: 1

	li
		position: absolute
		list-style: none
		display: block
		width: 150px
		height: 150px
		bottom: -200px

		-webkit-animation: square 25s infinite
		animation:         square 25s infinite

		-webkit-transition-timing-function: linear
		transition-timing-function: linear

		&:nth-child(1)
			left: 10%
			background-image: url("/images/benzeno.png")
			background-size: auto 150px


		&:nth-child(2)
			left: 20%

			width: 100px
			height: 100px

			animation-delay: 2s
			animation-duration: 17s
			background-image: url("/images/benzeno.png")
			background-size: auto 100px



		&:nth-child(3)
			left: 25%
			animation-delay: 4s
			background-image: url("/images/benzeno.png")
			background-size: auto 150px



		&:nth-child(4)
			left: 40%
			width: 80px
			height: 80px

			animation-duration: 22s
			background-image: url("/images/benzeno.png")
			background-size: auto 80px



		&:nth-child(5)
			left: 70%
			background-image: url("/images/benzeno.png")
			background-size: auto 150px


		&:nth-child(6)
			left: 80%
			width: 170px
			height: 170px

			animation-delay: 3s
			background-image: url("/images/benzeno.png")
			background-size: auto 170px



		&:nth-child(7)
			left: 32%
			width: 200px
			height: 200px

			animation-delay: 7s
			background-image: url("/images/benzeno.png")
			background-size: auto 200px


		&:nth-child(8)
			left: 55%
			width: 40px
			height: 40px

			animation-delay: 15s
			animation-duration: 40s
			background-image: url("/images/benzeno.png")
			background-size: auto 40px


		&:nth-child(9)
			left: 25%
			width: 50px
			height: 50px

			animation-delay: 2s
			animation-duration: 40s
			background-image: url("/images/benzeno.png")
			background-size: auto 50px


		&:nth-child(10)
			left: 90%
			width: 160px
			height: 160px

			animation-delay: 11s
			background-image: url("/images/benzeno.png")
			background-size: auto 160px



@-webkit-keyframes square
  0%
    transform: translateY(0)
  100%
    transform: translateY(-700px) rotate(600deg)

@keyframes square
  0%
    transform: translateY(0)
  100%
    transform: translateY(-700px) rotate(600deg)

.empty-search
  padding: 5px 10px
  text-align: center

//PAGINA DE ESTOQUE
#stock-edit
  border: none
  border-bottom: 2px solid #6BA05C

#btn-new-sample-stock
  border-style: none
  background-color: #6BA05C

.title-new-kit
  padding-bottom: 40px

.Addkit-text
  width: 100%
  overflow: hidden
  font-size: 14px
  padding: 6px 0
  margin: 6px 0
  border-bottom: 1px solid #006400

.addkit-input
  border: none
  outline: none
  background: none
  color: #006400
  font-size: 13px
  width: 100%
  float: left

.addkit-input textarea
  border: none
  outline: none
  background: none
  color: #006400
  font-size: 16px
  width: 80%
  float: left
  margin: 0 10px

#btn-addkit
  padding-top: 40px
  padding-left: 12px

.newkit
  width: 500px
  left: 20%
  transform: translate(-50%,-50%)

#dropdownnewkit
  text-align: right
  display: inline-flex

.drowdownoptions
  border: none
  outline: none
  background: none
  color: #696969
  font-size: 13px
  width: 50%
  float: left
  margin: 0 10px

.addkitothers-input
  display: none

#radio-kit
  padding-top: 20px

body
 padding-top: 30px
//PENDINGS



body
 padding-top: 30px
//PENDINGS

@media (max-width: 600px)
  body
    padding-top: 55px

.stock-falta
  text-align: left
  background: #6BA05C
  border-radius: 7px
  margin-top: 10px
  color: white

.title-notification
  text-align: center

.alertaa
  margin-bottom: -11px


//ALL KITS page

.user-card-kits
  margin: 40px 40px 40px 40px
  width: 100%
  height: 100%
  transform-style: preserve-3d
  box-shadow: 1px 1px 10px #f0f0f0
  align-items: center
  cursor: pointer
  transition: all 0.3s cubic-bezier(1, 1, 1, 1)

.user-card-kits h1
  font-size: 20px
  border-bottom: 4px solid 	#32CD32
  margin-bottom: -5px
  margin-top: 10px
  padding: 13px 0

.user-card-kits li
  box-sizing: border-box
  color: #32CD32
  cursor: pointer
  font-size: 15px
  padding: 10px 13px
  position: relative
  border-bottom: 1px solid	#32CD32
  margin-bottom: 0px
  margin-top: 0px

.user-card-kits li:hover
  background-color: #DCDCDC
  color: #1C1C1C
  width: 100%

.expirationDateRed
  background: red
  border-radius: 10px
  color: white

.expirationDateYellow
  background: #c9c901
  border-radius: 10px
  color: white

.expirationDateGreen
  background: green
  border-radius: 10px
  color: white

.nova-table
  margin-top: 30px
  width: 100%

.table-printtemplate
  display: inline-table
  padding-bottom: 30px

.printtemplate
  padding-bottom: 30px
  display: -webkit-inline-box

.input-absorbance
  height: 20px
  width: 60px
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: 0.25rem
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

th.absorbance
  min-width: 72px

.tudo
  padding-left: 310px

#stockmin
  width: 64px
  font-size: 10px

#btn-stockmin
  width: 45px
  font-size: 10px
  margin-left: 8px
  margin-top: 7px
  background: #6BA05C
  border: green

.logolaudo
  position: center
  height: 100px
  margin-top: -30px
  background-color: white

.title-laudo
  margin-top: 30px
  font-size: 15px

.laudo-text
  text-align: left
  margin-left: 30px

.info-laudo
  margin-top: 0px !important
  margin-left: 35px
  margin-right: 45px

.laudo-linha
  margin-left: 0px

.laudo-footer
  text-align: center

.laudo-assinatura
  margin-top: 40px

.laudo-assinatura p
  text-align: center
  margin-top: -15px

.btn-scnd-print
  margin-left: 10px
  margin-top: 10px

#btn-new-requisition
  border-style: none
  background-color: #6BA05C
  margin-top: -63px


.data-atual
  margin-left: auto

.title-print
  margin-left: auto
  margin-right: auto
  font-weight: bold
  font-size: 17px


.table-afla
  width: 10px
  margin-right: 57px

.table-afla-child
  margin-left: 25px
  margin-right: 57px


.btn-count
  margin-left: -258px
  margin-right: 31px
  margin-bottom: 10px

input#OtherInput
  margin-top: -5px
  margin-bottom: -5px

//   .form-control {
//     display: block;
//     width: 100%;
//     padding: 0.375rem 0.75rem;
//     font-size: 1rem;
//     line-height: 1.5;
//     color: #495057;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid #ced4da;
//     border-radius: 0.25rem;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }

.btn-abs
  float: right
  margin-right: 10px

.some
  display: none

.btn-back
  float: left
  margin-left: 15px

.btn-back-previous
  float: left
  margin-left: 20px
  color: white
  border-radius: 15px

.linhas-print
  background-color: black
  margin-right: auto
  margin-left: auto
  width: 50%
