<form class="form-show-box" action="/analyst/create" method="POST">
    <h1 class="form-show-title"> Cadastro analista</h1>
      <div class ="form-row">
        <div class="form-show-text col-md-8">
          <label for="user[fullname]">Nome</label>
          <input type="text"  name="user[fullname]" class="input-placeholder-green" placeholder="Nome Completo">
        </div>
        <div class="form-show-text col-md-4">
            <label for="user[email]">Email</label>
            <input  type="email" name="user[email]" class="input-placeholder-green" placeholder="Email">
          </div>
          <div class="form-show-text col-md-8">
            <label for ="user[register]">CPF</label>
            <input type ="text" name="user[register]" class="input-placeholder-green" placeholder="CPF">
          </div>
          <div class="form-show-text col-md-4">
            <label for ="user[password]">Senha</label>
            <input type= "password" name="user[password]" class="input-placeholder-green" placeholder="Senha">
          </div>
          <div class="form-show-text col-md-8">
            <label for ="user[cellphone]">Celular</label>
            <input type= "text" name="user[cellphone]" class="input-placeholder-green" placeholder="Celular">
          </div>
        </div>
    <div class="col-md-12 mt-3">
      <button class="btn mr-2" type="button" c><i class="fa fa-reply"></i> Voltar</button>
      <button class="btn ml-2" type="submit" ><i class="fa fa-pencil"></i>Cadastrar</button>
    </div>
</form>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script src="/javascripts/users.js"></script>
