<h4>Requisições</h4>
<div class="text-right">
  <form action="/requisition/new" method="get">
      <button type="submit" id="btn-new-requisition" class="btn btn-primary btn-sm">Nova Requisição</button>
  </form>
</div>
<p></p>
<div class="table-responsive">
  <table id="tb-user" class="table table-striped table-hover">
    <thead>
      <tr>
        <th class = "th-name">Identificação</th>
        <th class = "th-type">Fazenda</th>
        <th class = "th-type">Destino</th>
        <th class = "th-action"></th>
        <th class = "th-type">Amostras</th>
      </tr>
    </thead>
    <tbody>
      {{#each logados}}
          <tr>
            <th>{{identification}}</th>
            <th>{{farmname}}</th>
            <th>{{destination}}</th>
            <th>
              <button onClick="location.href='requisition/show/{{_id}}'" class="fa fa-info btn m-1"></button>
            </th>
            <th>
              <button onClick="location.href='report/samples'"></button>
            </th>
          </tr>
      {{/each}}
    </tbody>
  </table>
</div>
