<h4>Histórico de Requisições</h4>
<p></p>
<div class="table-responsive">
  <table id="tb-user" class="table table-striped table-hover">
    <thead>
      <tr>
        <th class = "th-name">Requisição</th>
        <th class = "th-type">Status</th>
        <th class = "th-action"></th>
      </tr>
    </thead>
    <tbody>
      {{#each requisitions}}
          <tr>
            <th>
              {{_id}}
            </th>
            <th>
              <h6><span class="badge badge-pill badge-success">Status</span></h6>
            </th>
            <th>
              <button class="fa fa-info btn"></button>
            </th>
            <th>
              <button onClick="location.href='requisition/show/{{_id}}'" class="fa fa-info btn m-1"></button>
            </th>
          </tr>
      {{/each}}
    </tbody>
  </table>
</div>
