<div class="edit-requisition">
    <hr color="lightgray">
    <div class="showboxinfo">
      <form action="/requisition/{{requisitions.id}}?_method=PUT" method="post">
          <p><font size="4" color="black">Data de Coleta: <input id="stock-edit" type="text" style="width: 27px" value= {{requisitions.datecollection}} name="requisition[datecollection]"></p>
          <p><font size="4" color="black">Origem: <input id="stock-edit" type="text" style="width: 50px" value= {{requisitions.origin}} name="requisition[origin]"></p>
          <p><font size="4" color="black">Laboratório: <input id="stock-edit" type="text" style="width: 200px" value= {{requisitions.lab}} name="requisition[lab]"></p>
          <div class="text-center">
            <button type="submit" align="center" class="btn btn-outline-success">Enviar Alterações</button>
          </div>
      </form>
    </div>
</div>
