<h4>Kits Disponíveis</h4>
<p></p>
<div class="table-responsive">
  <table id="tb-user" class="table table-striped table-hover">
    <thead>
      <tr>
        <th class = "th-name">Kits</th>
        <th class = "th-type">Quantidade</th>
        <th class = "th-action"></th>
      </tr>
    </thead>
    <tbody>
      {{#each kits}}
          <tr>
            <th>{{kitId}}</th>
            <th>{{amount}}</th>
            <th>
              <button onClick="location.href='stock/show/{{_id}}'" class="fa fa-info btn m-1"></button>
            </th>
          </tr>
      {{/each}}
    </tbody>
  </table>
</div>
