<div class="title-new-kit">
  <h5>Cadastro de Novo Kit<h5>
</div>
<div class="new-kit">
      <form action="/stock/new" method="post">
          <div class="Addkit-text col-md-5">
            <p><font size="4" color="black"> Código Produto: <input class="addkit-input" type="text" name="kit[kitType]"></p>
          </div>
          <div class="Addkit-text col-md-2">
            <p><font size="4" color="black"> Quantidade: <input style="width: 27px" class="addkit-input" type="text" name="kit[amount]"></p>
          </div>
          <div class="Addkit-text col-md-2">
            <p><font size="4" color="black"> Lod: <input style="width: 27px" class="addkit-input" type="text" name="kit[Lod]"></p>
          </div>
          <div class="Addkit-text col-md-2">
            <p><font size="4" color="black"> LoQ: <input style="width: 27px" class="addkit-input" type="text" name="kit[LoQ]"></p>
          </div>
          <div class="Addkit-text col-md-5">
            <p><font size="4" color="black"> Fornecedor: <input  class="addkit-input" type="text" name="kit[provider]"></p>
          </div>
          <div class="Addkit-text col-md-6">
            <p><font size="4" color="black"> Data de Expiração: <input  class="addkit-input" type="text" name="kit[expirationDate]"></p>
          </div>
          <div class="text-center">
            <p><button type="submit" align="center" class="btn btn-outline-success">Criar novo kit</button><p>
          </div>
      </form>
    </div>
