<div class="title-new-kit">
  <h5>Cadastro de Novo Kit<h5>
</div>
  <div class="new-kit">
      <form action="/stock/new" method="post">
            <div class="row">
              <div class="Addkit-text col-7">
                <p><font size="4" color="black"> Código Produto: <input class="addkit-input" type="text" name="kit[productCode]"></p>
              </div>
              <p><font size="4" color="black"> Quantidade: <input style="width: 50px" class="addkit-input" type="text" name="kit[amount]"></p>
            </div>

            <div class="row">
              <div class="Addkit-text col-7">
                <font size="4" color="black"> Descrição do Produto: <input style="width: 155px" class="addkit-input" type="text" name="kit[productDescription]">
              </div>
              <font size="4" color="black"> Lod: <input style="width: 27px" class="addkit-input" type="text" name="kit[Lod]">
              <font size="4" color="black"> LoQ: <input style="width: 27px" class="addkit-input" type="text" name="kit[LoQ]">
            </div>

            <div class="row">
              <div class="Addkit-text col-7">
                <font size="4" color="black"> Fornecedor: <input style="width: 240px" class="addkit-input" type="text" name="kit[provider]">
              </div>

              <font size="4" color="black"> Validade: <input style="width: 30px" class="addkit-input" type="text" name="kit[dayexpirationDate]">/ <input style="width: 30px" type="text" class="addkit-input" name="kit[monthexpirationDate]" > / <input type="text"  name="kit[yearexpirationDate]" class="addkit-input" style="width: 40px">
              <font size="4" color="black"> Número de Tiras: <input style="width: 50px" class="addkit-input" type="text" name="kit[stripLenght]">

            </div>

            <div id="radio-kit" class="form-check">

                <div class="form-check form-check-inline">
                  <input checked class="form-check-input" type="radio" name="kit[kitType]" value="A">
                  <label class="form-check-label">A</label>
                 </div>


                <div class="form-check form-check-inline">
                  <input checked class="form-check-input" type="radio" name="kit[kitType]" value="B">
                  <label class="form-check-label">B</label>
                </div>


                <div class="form-check form-check-inline">
                  <input checked class="form-check-input" type="radio" name="kit[kitType]" value="C">
                  <label class="form-check-label">C</label>
                </div>

             </div>

             <div class="text-center" id="btn-addkit">
               <button type="submit" class="btn btn-outline-success">Criar novo kit</button>
             </div>

      </form>
    </div>
