<div class="new-kit">
      <form action="/stock/new" method="post">
          <div class="Addkit-text col-md-1">
            <p><font size="4" color="black">Kit: <input type="text" name="kit[kitType]"></p>
          </div>
          <div class="Addkit-text col-md-11">
            <p><font size="4" color="black">Quantidade em Estoque: <input type="text" name="kit[amount]"></p>
          </div>
          <div class="Addkit-text col-md-1">
            <p><font size="4" color="black">Lod: <input type="text" name="kit[Lod]"></p>
          </div>
          <div class="Addkit-text col-md-11">
            <p><font size="4" color="black">LoQ: <input type="text" name="kit[LoQ]"></p>
          </div>
          <div class="Addkit-text col-md-11">
            <p><font size="4" color="black">Fornecedor: <input  type="text" name="kit[provider]"></p>
          </div>
          <div class="Addkit-text col-md-11">
            <p><font size="4" color="black">Data de Expiração: <input type="text" name="kit[expirationDate]"></p>
          </div>
          <div class="text-center">
            <button type="submit" align="center" class="btn btn-outline-success">Criar novo kit</button>
          </div>
      </form>
    </div>
