<div class="requisition" >
  <h4 align="center"> Cadastro de Novo Kit </h4>
</div>

<form action="/stock/new" method="post">
  <div class="new-kit">
      <div class="form-row">
        <div class="Addkit-text col-md-6">
          <select id="productCode" class="drowdownoptions" name="kit[productCode]" required = "required">
            <option value disabled selected> Código do Produto</option>
            <option value="AFLA Romer">AFLA Romer</option>
            <option value="DON Romer">DON Romer</option>
            <option value="FUMO Romer"> FUMO Romer</option>
            <option value="OTA Romer">OTA Romer</option>
            <option value="T2 Romer">T2 Romer</option>
            <option value="ZEA Romer"> ZEA Romer</option>
            <option value="MycoSep Trich">MycoSep Trich</option>
            <option value="MycoSep AflaZon">MycoSep AflaZon</option>
            <option value="MycoSep Fum"> MycoSep Fum</option>
            <option value="Metanol">Metanol</option>
            <option value="Acetonitrila">Acetonitrila</option>
            <option>Outros</option>
          </select>
          <input type="text" name="kit[productCode]" id="otherCity" style="display:none"></input>
        </div>
        <div class="Addkit-text col-md-3">
          <input type="text" name="kit[amount]" class="addkit-input" placeholder="Quantidade:" required>
        </div>
        <div class="Addkit-text col-3">
          <input type="text" name="kit[stockMin]" class="addkit-input" placeholder="Estoque Minimo:">
        </div>
      </div>
      <div class="form-row">
        <div class="Addkit-text col-5">
          <input type="text" name="kit[productDescription]" class="addkit-input" placeholder="Descrição do Produto:">
        </div>
        <div class="Addkit-text col-2">
          <input class="addkit-input" type="text" name="kit[Lod]" placeholder="LoD:">
        </div>
        <div class="Addkit-text col-2">
          <input class="addkit-input" type="text" name="kit[Loq]" placeholder="LoQ:">
        </div>
        <div class="Addkit-text col-1">
         <input placeholder="Validade:" style = "min-width: 100px; "  class="addkit-input" type="text" name="kit[dayexpirationDate]" required>
        </div>
        <div class="Addkit-text col-1">
         <input placeholder="/" type="text" class="addkit-input" name="kit[monthexpirationDate]" required>
        </div>
        <div class="Addkit-text col-1">
         <input placeholder="/" type="text"  name="kit[yearexpirationDate]" class="addkit-input" required>
        </div>
      </div>
      <div class="form-row">
        <div class="Addkit-text col-7">
          <input class="addkit-input" type="text" name="kit[provider]" placeholder="Fornecedor:">
        </div>
        <div class="Addkit-text col-1">
          <input class="addkit-input" type="text" name="kit[calibrators][P1]" placeholder="P1:">
        </div>
        <div class="Addkit-text col-1">
          <input class="addkit-input" type="text" name="kit[calibrators][P2]" placeholder="P2:">
        </div>
        <div class="Addkit-text col-1">
         <input class="addkit-input" type="text" name="kit[calibrators][P3]" placeholder="P3:">
        </div>
        <div class="Addkit-text col-1">
         <input class="addkit-input" type="text" name="kit[calibrators][P4]" placeholder="P4:">
        </div>
        <div class="Addkit-text col-1">
         <input class="addkit-input" type="text" name="kit[calibrators][P5]" placeholder="P5:">
        </div>
      </div>
      <div id="radio-kit" class="form-check">
        <div class="form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="kit[kitType]" value="A">
          <label class="form-check-label">A</label>
        </div>
        <div class="form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="kit[kitType]" value="B">
          <label class="form-check-label">B</label>
        </div>
        <div class="form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="kit[kitType]" value="C">
          <label class="form-check-label">C</label>
        </div>
        <div class="form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="kit[kitType]" value="D">
          <label class="form-check-label">D</label>
        </div>
        <div class="form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="kit[kitType]" value="E">
          <label class="form-check-label">E</label>
        </div>
        <div class="form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="kit[kitType]" value="F">
          <label class="form-check-label">F</label>
        </div>
       </div>
       <div class="text-center" id="btn-addkit">
          <button type="submit" class="btn btn-outline-success">Criar novo kit</button>
        </div>
    </div>
  </form>
<script src="/javascripts/newkit.js"></script>
