<h4>Lista de Usuários</h4>
<p></p>
<div class="table-responsive">
  <table id="tb-user" class="table table-striped table-hover">
    <thead>
      <tr>
        <th class = "th-name">Nome</th>
        <th class = "th-type">Tipo</th>
        <th class = "th-action"></th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        {{#compare status 'Ativo'}}
          <tr>
            <th>{{fullname}}</th>
            <th>{{type}}</th>
            <th>
              <button onClick="location.href='show/{{_id}}'" class="fa fa-info btn m-1"></button>
            </th>
          </tr>
        {{/compare}}
      {{/each}}
    </tbody>
  </table>
</div>
