<form class="form-show-box d-flex flex-column" action="/sample/save" method="post">
  <h1 class="form-show-title"> Visualização da Amostra</h1>
  <div>
    <div class="form-show-text col-md-12">
      <label for="sample[name]">Nome</label>
      <input type="text" value="{{sample.name}}" name="sample[name]">
    </div>
    <div class="form-row">
      <div class="form-show-text col-md-6">
        <label for="sample[samplenumber]">Número da Amostra</label>
        <input disabled type="text" value="{{sample.samplenumber}}" name="">
        <input type="text" value="{{sample.samplenumber}}" class="form-disabled" name="sample[samplenumber]">
      </div>
      <div class="form-show-text col-md-6">
        <label for="sample[responsible]">Responsável</label>
        <input type="text" value="{{sample.responsible}}" name="sample[responsible]">
      </div>
    </div>
    <div class="mt-3">
      <input type="checkbox" id="polpa" name="sample[isCitrus]" value="true" class="my-auto" {{#if sample.isCitrus}}checked{{/if}}/>
      <label for="polpa" class="">Contém polpa cítrica</label>
    </div>
    <div class="col-md-12 mt-3">
      <button class="btn mr-2" type="button" onclick="location.href='/queue'"><i class="fa fa-reply"></i>Voltar</button>
      <button class="btn ml-2" type="submit"><i class="fa fa-pencil"></i>Alterar</button>
    </div>
</form>