<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script type="text/javascript" src="/javascripts/statistics.js"></script>

<div>
    <canvas id="StateFrequency"></canvas>
</div>
<div>
    <canvas id="SampleFrequency"></canvas>
</div>
