<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="/javascripts/statisticsBox.js"></script>
<script type="text/javascript" src="/javascripts/Chart.BoxPlot.js"></script>

<div class="container-fluid">
    <div>
        <canvas id="aflatoxina"></canvas>
    </div>
</div>
<div class="container-fluid">
    <div>
        <canvas id="deoxinivalenol"></canvas>
    </div>
</div>
<div class="container-fluid">
    <div>
        <canvas id="fumonisina"></canvas>
    </div>
</div>
<div class="container-fluid">
    <div>
        <canvas id="ocratoxina"></canvas>
    </div>
</div>
<div class="container-fluid">
    <div>
        <canvas id="t2toxina"></canvas>
    </div>
</div>
<div class="container-fluid">
    <div>
        <canvas id="zearalenona"></canvas>
    </div>
</div>