<div>
    <form action="/statistics/barcharts" method="GET">
        <p> Deseja gerar os gáficos? (esta operação pode ser demorada)</p>
        <input type="submit" class="btn btn-success" value="Gerar" />
    </form>
</div>