<p> Qual gráfico deseja gerar? (esta operação pode ser demorada)</p>
<div class="d-flex flex-row justify-content-center">
    <form action="/statistics/barcharts" method="GET" class="mx-2">
        <input type="submit" class="btn btn-success" value="Gráficos de barra" />
    </form>
    <form action="/statistics/boxcharts" method="GET" class="mx-2">
        <input type="submit" class="btn btn-success" value="Gráficos BoxPlot" />
    </form>
</div>